:root {
    font-size: 1em;
    box-sizing: border-box;
    min-height: 100vh;
    background-color:seashell;
}

body {
    margin: 0;
}

*, ::before, ::after {
    box-sizing: inherit;
}

/* regular text font family */
.main-regular {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
        'Microsoft YaHei', 'PingFang SC', 'Noto Sans CJK SC',
        sans-serif;
}

/* monospace main text font family for questions */
.main-mono {
    font-family: ui-monospace, SFMono-Regular, Consolas, Menlo, "Liberation Mono",
        'Microsoft YaHei', 'PingFang SC', 'Noto Sans CJK SC',
        monospace;
}
/* monospace class' p tags get pre-like style */
.main-mono > p {
    line-height: 1.2;
    white-space: pre-wrap;
    tab-size: 4;
}

/* Main content */
main {
    font-size: 1.125em;
    padding: 2em 2em 4em;
}
@media (max-width: 768px) {
    main {
        padding-left: 1em;
        padding-right: 1em;
    }
}

/* Sidebar aside container*/
/* change drawer paper background color */
aside .MuiDrawer-paper {
    background-color: whitesmoke;
}

/* Sidebar Tree txt */
.folder-txt .MuiListItemText-primary {
    font-weight: bold;
    color:teal;
}

.file-txt .MuiListItemText-primary {
    font-size: 0.94rem;
    line-height: 1.2;
}

/* Code block */
pre {
    font-family: "Cascadia Code", monospace;
    border-radius: 1em;
    padding: 1em;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
}

