html, body, #root {
    font-family:
        'Segoe UI', Tahoma, Geneva, Verdana,
        'Microsoft YaHei', 'PingFang SC', 'Noto Sans CJK SC',
        sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color:seashell;
}

/* Main content */
main {
    padding: 2em 2em 4em;
}

@media (max-width: 768px) {
    main {
        padding-left: 1em;
        padding-right: 1em;
    }
}

/* Sidebar */
aside {
    width: 18em;
    max-width: 100%;
}

/* Sidebar Tree txt */
.folder-txt .MuiListItemText-primary {
    font-weight: bold;
    color:teal;
}

.file-txt .MuiListItemText-primary {
    font-size: 0.93rem;
    line-height: 1.2;
}

/* Code block */
pre {
    font-family: "Cascadia Code", monospace;
    border-radius: 1em;
    padding: 1em;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
}

/* .md text maintaining original tab like code block */
.pre-like {
    font-size: 1.12em;
    white-space: pre-wrap;
    tab-size: 4;
}

